<a href="https://colab.research.google.com/github/jaweria01/Python/blob/main/Session1_%262(if_else_loops).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Basics**

1. Comments

2. Print Function

3. Parameters of Print Function

4. Data Types

5. Variables Creating

6. Methods of creating variables

7. Rules of creating Variables

8. Type Function

9. Identity Operator

10. Type Conversion

11. Indentation

12. Function of explicit Type conversion

13. Literals

14. Operators

15. Types of Operators

16. Controll Statments(if else)

17. Programs Example

**Program:1**
```
write a login page code in which if user give right email and password then ask him welcome and if he put wrong email and password
then give him an error.
```
**program:2**
```
find the min/max of 3 given numbers.
```
**Program:3**
```
Menu driven calculator program
```
**Program:4**
```
ATM menu drive program
```
**program:5**
```
Write a menu-driven program
cm to ft
km to miles
USD to INR
exit
```



17. Loops
```
For Loop
while Loop
Nested Loop
```
17. For Loop
18. Example Program

**Program: 1**
```
The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year.
You have to write a program to find out the population at the end of each of the last 10 years.
```

19. While Loop

**Program:1**
```
write a program about asking from user that which number of table he want to print?
```
**Program:2**

```
Write a program/game code in which program select the random number from 1 to 100 which will be the jackpot number. user have to
guess that number. Program ask to the user guess that number?
```
20. Nested Loop
**program:1**
```
# Pattern 3
1
121
12321
1234321
```
21. Loop Control statements
```
Break Statment
Continue Statments
Pass Statments

## **Python Basics**
Python is an interpreter language.interpreter laguage means to execute/convert the code line by line to machine code.


### **Compilation**
```
compilation is a process in which you convert your code into binary language.
Programming is done in english language, it is called high level language.The machine where code is execute is basically a chip...core i3, i5, i7
can not understand the english,it can understand binary language 1, 0 power on power off. So to execute the code on that machine convert that
english code into binary pattern. This conversion process is called compilation."Compilation is done by Compiler or enterpreter".

*Java, c, c++ are compiled language Python ,php, javascript are intepreter laguage or Scripting languaes.*
> Compiled language convert entire program into 0, 1 at once
> Interpreter Language convert code /program into binary line by line

We write code into high level language and compiler and interpreter convert that code into low level language so that machine can understand.

  *Compiler are generally fast as compared to interpreter language ,because interpreter execute code line by line.*
```

### **Comments**

In [ ]:
# Comments are snippet of code that python enterpreter egnore python supports multiline comments.
# To see the entire documentation, just place the cursor on the Python function in question and press shift-Tab .
# If you press shift-Tab several times, the entire documentation string is opened.

### **Print Function**

In [ ]:
print(6)

In [ ]:
print(5.6)

In [ ]:
print(False)

In [ ]:
print("India","Pakistan","Nepal","Srilanka")

In [ ]:
print("India",5,True)

#### **Parameters of Print Function**
###### By default , is as space like (sep = ' ')we specifically set value of parameter(sep)

In [ ]:
### sep = ' '
end ='\n'
end=' '

In [ ]:
print("India","Pakistan","Nepal","Srilanka",sep='/')

In [ ]:
print("India","Pakistan","Nepal","Srilanka", "-started-",sep='-',)

In [ ]:
### end = '\n'....> means line change
##### it is automatically at the end of line
# \n is default value at the end of the line , we can change other values instead of this/line change

In [ ]:
print("Hy this is jaweria",end ='\n')

In [ ]:
print("Hy this is jaweria \n and I am a data scientist")

In [ ]:
print("Hello")
print("World")

In [ ]:
print("Hello",end=' ')
print("world")

## **Data Types**
#####    Every language has different data types that work/use in that laguage.
#### **Python supports 3 categories of data types:**
```
 1. Basic Types - (integer,float/decimal,complex, boolean,string, None)
 2. Container Types - (List,Tuples, Sets and Dictionary)
 3. User-defined Types - Class
```

In [ ]:
# Data Structure and Data types have ultimately same work of holding the data

In [ ]:
# 1. Text/string
print("Hello World")

In [ ]:
# 2. Integer
print(9)
print(1e309)

In [ ]:
# 10 raise power 10^ , result is infinity...> 1*10^309
print(1e309)

inf

In [ ]:
# 3. Decimal/Float
print(9.7)

In [ ]:
# large integer values and float values
print(1.7e308)

In [ ]:
# 4. complex
print(3+4j)# ...> consist real part and imagenery part

In [ ]:
# (),[],{},are ways to represent different things

In [ ]:
# 5.  List  C---> Array
# we use square brackets in list
print([1,2,3,4])

In [ ]:
# 6. Tuple ...> has small brackets
print((1,2,34,5))

In [ ]:
# 7. Sets.....> curly braces
print({1,2,34,7,0})

In [ ]:
# 8. Dictionary....>consists of key and values
# key are string or can be any other type
print({'name': 'jaweria', 'Goal': 'Data Scientist', 'Condition': 'Begginer', 'weight': 36})

In [ ]:
# 9. Boolean
print(True)
print(False)

In [ ]:
# 10. None Data type
#print(none)

### **Variables Creating/printing**


```
Variable are just like container to store the values/information variables are containers for future use
whenever a i don't know, in future which value will insert my user in particular \n place i will create variables at that place
eg. in name phone n, mail
```

In [ ]:
# first we declare the variable, that what will be thr type of variable. which type of value we store in variable is depend upon the
# datatype of variable this concept is used in C Language
# in python we create variables directly instead of declaring
# there is no variable declaration in Python, we just give the name of variable and store value in that.
# Python is smart enough that we don't need to specify the data type of variable, it automatically understand what should be the type
# of variable just by the stored value in varible
# in other language,firstly  we have to specify that what will be the type of variable/ what will be the type of data user can store

In [ ]:
# Method of declaring variable in other languages. im creating a variable which has data type of integer
# a is variable name and 12 is store value of variable
# int a = 12
a  = 12
print(a)

### **Methods of creating variables**

In [ ]:
## Static Typing
# define data type of variable during compilation
# During the creating of variable, we tell that what will be the data type variable and we store values according to the type of vaiable
# int a = 2

## Dynamic Typing
#  you dont need to declare the data type of variable.
# python interpreter will automatically deduce the type of variable by the given value, like if value is integer then
# variable type will be int
# eg -------> php and python

In [ ]:
# Statc Binding
# In a statically typed language, data types are defined during compile time and cannot change during runtime. This behavior is
# because of static type checking.
# A variable can not change multiple data types.once the variable is declared as integer type ,one can not store the string value.

In [ ]:
## Dynamic Binding
# This In contrast, dynamic typing allows variables to change their data type during runtime.
# varible has not fix data type.variable is not binded to any data type you can change the stored value and type of variable will
# automatically change. a variable can change multiple data type.

In [ ]:
a = 1
print(a)

In [ ]:
a = "anaya"
print(a)

In [ ]:
#

In [ ]:
## Special Syntax
a = 1; b = 2; c= 3
print(a)
print(b)
print(c)

In [ ]:
a,b,c = 4,5,6
print(a)
print(b)
print(c)

In [ ]:
a = b= c = 7
print(a)
print(b)
print(c)

In [ ]:
a= b= c = 7
print(a,b,c)

### **Rules of creating Variables**


#### **Keywords**
```
Python is a case sensitive programming language
In programming, a keyword is a word that is reserved by a program/compiler or enterpreterto understand the code and to convert the high level
language to low level language. because the word has a special meaning. Keywords can becommands
or parameters. Every programming language has a set of keywords that cannot be used as variable names
Compiler understand the low level 0 1 . so we convert the high level code into low level so that
 compiler can interpret the program. so keywords are not use as veriable. compiler get confuse about the code if you use keywords as veriable
```

In [ ]:
# python has 33 keywords
import keyword
print(keyword.kwlist)

#### **Identifiers**
A Python identifier is a name used to identify a variable, function, class, module or other object.

In [ ]:
#Rules for setting Identifiers
#can only start with an alphabet Followed by 0 or letter,_ and digits
#  _ is only special char that can be used for identifier
#keywords cannot be used as an identifiers

### **Type Function**
##### Type function detect the data type that we passed in that function..which type of data store

In [ ]:
student = "Naila"
type(student)

In [ ]:
# integer
a1 = 2;
a1

In [ ]:
# 10 raise power 10^ , result is infinity
print(1e309)

In [ ]:
# Float
a2 = 3.2;
a2
type(a2)
print(1.7e308)

In [ ]:
a3 = 3+4j;
a3
type(a3)

In [ ]:
name = "Jaweria"
print(name)
type(name)

In [ ]:
type([1,2,3,4])

### **Taking User Input:**

In [ ]:
# working of input()
input()

In [ ]:
# tell user to input something
input("Tell me Your Name:")

**Example:**
Take 2 numbers as input from users and then add them and print the result

In [ ]:
# Take input from user and store them in a variable
# add 2 numbers
# print result

In [ ]:
num1 = int(input("Enter  1 num"))

In [ ]:
num2 = int(input("Enter 2 num"))

In [ ]:
print(num1, num2)

In [ ]:
print(type(num1), type(num2))

In [ ]:
result = num1 + num2
print(result)

**Example :**

In [ ]:
first_num = input("Enter the first number")
sec_num = input("Enter the sec number")

In [ ]:
print(first_num)
print(sec_num)

In [ ]:
#result = first_num + sec_num
result = int(first_num)+int(sec_num)
print(result)
print(type(result))
print(type(first_num), type(sec_num))

In [ ]:
type(first_num)

In [ ]:
# type of first_num and sec_num is still integer , while the answer is in int type
# the answer is that puython is not change the previous/old data it create new data by using old and change in the current data which
# has data type integer. The mathematically code i run on new data.
# Python conversion operation does not change the original data , it creates a new value and you work on that new value

In [ ]:
# user number input values store in a string data type, when yoe plus two string , the result will be the combination of string
# not plus mathematically
# The data on which we were working are strings not numbers

**Why always user input is store in string variable/data type??**


```
String is a unversal format. means you can store other data type in string. eg. 4 is a number but you can store it into string format.
a = '4'
but you can not store string into integer format.you can not make "Jaweria" an integer.
Python community thought that user can give inputin any language in numbers , so that code could not crash , user input always store in a
string variable/ data type. because it is a universal format.
```

### **Type Conversion**
Conerting one data type into other data type

#### **Types of Conversion**
```
**1. Implicit Type Conversion**
Python automatically perform type conversion and understand the data how to handle them

**2. Explicit Type Conversion**
When there is need to tell the python to do type conversion
```

In [ ]:
# Implicit type conversion
# when python automatically do type conversion
# operation on two different data type integer and float
4+3.3
print(4+3.3)
print(type(4), type(3.3))

In [ ]:
# integer and complex
4 + 6+6j

In [ ]:
# float and complex
4.1 + 1+6j

### **Function of explicit Type conversion**
```
For explicit type conversion programmer use built-in functions
For type conversion, a funtion is dedicated to every data type, eg for boolean , sets, lists, dictionary, tuple
```

**1.** **int()**
int() function convert the given compatible data type into integer

In [ ]:
# int() function convert the float to integer
int(4.7)

In [ ]:
# int() function convert the string number to integer
int("3")

**2.** **float()**
convert the given compatible data type into float

In [ ]:
# float() function convert the given integer value to float
float(3)

In [ ]:
# float function convert the given string number into float.
float("3")

**3. str()**

In [ ]:
# converting integer to string
str(5)

In [ ]:
type(str(5))

In [ ]:
type('4')

In [ ]:
type(int('4'))

**4. bol()**

In [ ]:
bool(1)

In [ ]:
bool(0)

**5. complex()**

In [ ]:
complex(3)

**6. list()**

In [ ]:
list('hello')

****Type conversion is not the permanent operation****


```
There will be no changes in original data/values. it will create a data type/
 new integer and we can use it on the otherhand type casting is permanent operation
```

In [ ]:
### Example

In [ ]:
a = 4.8

In [ ]:
int(a)

In [ ]:
# original data is still the same
a

In [ ]:
first_num = input("Enter the first number")
sec_num = input("Enter the sec number")

result = int(first_num) + int(sec_num)
print(result)

In [ ]:
## here we apply the type conversion function while taking the user input
first_num = int(input("Enter the first number"))
sec_num = int(input("Enter the sec number"))

result = first_num + sec_num
print(result)

**Type Casting**

## **Indentation**

In [ ]:
# in other languages semicolon and curly brackets are used mostly while in python there is no concept of ; and {}
# if(condition){
# code for if
#      something;
#      something;

# }else{
# code for else
#     otherthing;
#     otherthing;
# }
# Other languages are not affected by indentation since in python there is no concept of brackets so indentation is the only way
# to detect the block of code in python
# indentation increase code readability this is the main purpose of indentation
# press tab to get gap(indetation) not space

# if(condition) :
       # code
# else:
      # code

In [ ]:
name = "jaweria"
if name == "jaweria":
    print("Right")
    print("exectly")
    if 5== 5:
        print("true")
else:
    print("Wrong")

### **Literals**
```
Literal is a raw data given to a variable's value. In Python, there are various types of literals they are as follows:
1.Numeric Literals
2.String Literals
3.Boolean Literals
4.Special Literals
```

**1.Numeric Literals**

In [ ]:
# Different Types of number system
a = 0b1010 #Binary Literals......>rashveryby board
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal
print(a)
print(b)
print(c)
print(d)
print(a, b, c, d)

In [ ]:
#Float Literal....>1.5*10^2
# two methods ...1. decimal 2. scientific
float_1 = 10.5
float_2 = 1.5e2
float_3 = 1.5e-3
print(float_1, float_2,float_3)

In [ ]:
#Complex Literal
x = 3.14j
print(x, x.imag, x.real)
# can extract the imaginary part and real part

**2.String Literals**

In [ ]:
string = 'This is Python'#....>single inverted commas
strings = "This is Python"
char = "C" # there is no character data type in python separately..> can use single character in data type value
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"# ....>can pass the unicode character
raw_str = r"raw \n string"# when passing/printing html in python

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

"Can unicode store images???"

**3.Boolean Literals**

In [ ]:
# Python treat boolean as numbers
a = True + 4 #....>implicit type conversion >>>>>>>>>>true =1
b = False + 10 #..............>> false= 0

print("a:", a)
print("b:", b)

**4. Special Literal**

In [ ]:
a = None # none is the absence of anything.if there is no value of variable then we put None,
# None is also used to declare variable
print(a)

In [ ]:
# As we know that there is no variable declaration python, we can not declare a variable first for use it into future like that.
#k
# just k variable throw an error , so we put a none value to it
k = None
a = 2
print(a)

### **Operators**


```
Operators are used to perform operations on variables and values. Python has the following operators:
1.Arithmetic operators
2.Comparison operators
3.Logical operators
4.Bitwise operators
5.Assignment operators
6.Identity operators
7.Membership operators
```

**1.Arithmetic Operators**

In [ ]:
# + Adds one operand to the other
# -Subtracts the second operand from the first
# *  Multiplies one operand by the other
# / Divides the first operand by the second..> integer division
# % modulo .. Divides the first INTEGER operand by the second, and returns the remainder

In [ ]:
b1=10
b2=20
b1,b2

In [ ]:
# plus operator
b1+b2

In [ ]:
# Subtraction operator
b1-b2

In [ ]:
# Multiplication operator
b1*b2

In [ ]:
b1**b2

In [ ]:
#  division operator
b1/b2

In [ ]:
# Integer division
# Computer Science. Integer division refers to the process of dividing two integers and obtaining the quotient without any fractional
#part. It is a fundamental operation in computer science and is used to perform calculations that involve whole numbers.
#b1//b2
print(5/2) # quotient with fraction...> in decimal
print(5//2) # quotient without fraction..>in integer

In [ ]:
# Modulous operator ..> tells reminder when we divide numerator and denomirator
print(b2%b1)

In [ ]:
# Power of operator
# 5 to the power 2
print(5**2)

**2. Relational Operator/Comparison Operator**

In [ ]:
# compare two quantities
# < Less than
# > greater than
# == equal to
# != not equal to
# <= or =< less than or equal to
# >= or => greater than or equal to

In [ ]:
c1=50
c2=100

In [ ]:
c1<c2

In [ ]:
c1>c2

In [ ]:
c1==c2

In [ ]:
c1!=c2

In [ ]:
print(b1<= b2)

In [ ]:
(b1>=b2)

In [ ]:
print(4>7)

**3. Logical Operator**
```
AND
OR
NOT
```
```
 &(AND) |(OR)
 In AND if both statements are true then result is True
 In OR if only one statement is true then result will be True
 NOT convert 1 to 0 and zero to 1
```

In [ ]:
a = True
b = False

In [ ]:
# a & a
a and a

In [ ]:
# a & b
a and b

In [ ]:
not a

In [ ]:
# and operator
# when one entitity is false and other is true
print(1 and 0)

In [ ]:
# when both are entities are true then result will be true
print(1 and 1)

In [ ]:
# Or operator
print(0 or 1)

In [ ]:
# Not operator
#  NOT convert 1 to 0 and zero to 1
# python consider 1 is True
print(not 1)

In [ ]:
# Python consider 0 is False
print(not 0)

**4. Bitwise Operator**


```
They work on binary numbers
Bitwise AND
Bitwise OR
Bitwise NOT
Bitwise left shift
Bitwise right shif
```

In [ ]:
# Bitwise XOR Operator

In [ ]:
# see the binary of 2 and 3
# binary of 2
# 321
# 010
# binary of 3
# 321
# 110
# when we plus these binaries
# 010
# 110
# By Applying XOR Operator
# 001 ...> true + false = false ......> True + True = false......> False + False = True
# This is the pattern of 1
print(2 ^ 3)

In [ ]:
# Bitwise Not Operato

In [ ]:
# convert all bunaries of 3 ,  0 to 1 and 1 to 0
print(~3)

In [ ]:
# Bitwise left Shift Operato

In [ ]:
print(4 >> 2)
# write bunary of 4 and shift every bit pattern with 2 difference in left side

In [ ]:
## Bitwise Right Operato

In [ ]:
print(4<<2)

In [ ]:
print(5 << 2)

In [ ]:
# Usually bitwise operator use in image processing and computer vision

**5. Assignment Operator**

In [ ]:
# a = 2
# a i variable , = is assignment operator, 2 is literal
# you assign a value to variable using sign equal to =

# There are different ways of using assignment operators, you can use assignment operator with other operators

In [ ]:
a = 2
print(a)

In [ ]:
a = 2
a += 2
print(a)
# add 2 in current value of a and store these values in a
# we do two step of code in 1 step

In [ ]:
b = b + 2
print(b)

In [ ]:
b = b % 6
print(b)

In [ ]:
c = 6
c %= 30
print(c)

In [ ]:
d = 9
d = d % 193
print(d)

**6. Membership Operator**

In [ ]:
# in/not , in
# check either one thing is present or not in already given thind
# there is no need to run loop for checking in each loop that either a character is present or not

In [ ]:
# work of in
print('J' in 'Jaweria')

In [ ]:
print('B' in 'Jaweria')

In [ ]:
# work of not in
# check specific character is not present, if not present then result will be true, otherwise false
print('J' not in 'Jaweria')

In [ ]:
print('D' not in 'Breeda')

In [ ]:
# membership operators not only work on strings but they also work on other data types also like list, tuple, sets, dic.

# for example we want to check either 1 comes in given list or not
print(1 in [2, 4,7,8])

**7. Identity Operator**

#### **Operator Related Programs**

In [ ]:
# Find the sum of three digits numbers entered by user

In [ ]:
num = int(input("Enter 3 digit number : "))
print("Digits entered by users : ", num)

# modulus extract the last number
a = num% 10
print(a)

b = 45%10
print(b)

c = 4% 10
print(c)

In [ ]:
# this question can be done by loop
num = int(input("Enter 3 digit number : "))
print("Digits entered by users : ", num)

# modulus extract the last number
# 234%10---> 4
a = num% 10
print(a)

# integer division
#23% 10 ----> 3
num = (num//10) # now 45 is store in numbers
b = num % 10
print(b)

# 3%10 ----> 2
num = (num //10)
c = num % 10
print(c)

sum = a + b+ c
print("Sum of three digits is : ", sum)

In [ ]:
print(345//10)
print(345/10)

In [ ]:
print(679//10)
print(679/10)

## **Decision Controll statments**
#### **if else**

In [ ]:
#  if else is used there where branches are become in code , two branches like user will put right detal or wring in login form.

# if you have 2 possibilities then you use if else conditions, and if you have 3 or more possibilities then you use elif condotion
# for example you have 5 possibilities , then you handle first possibility with if and last with else, and middle possibilities with
# elif

### **Programs Example:**


```
write a login page code in which if user give right email and password then ask him welcome and if he put wrong email and password
then give him an error.
```

In [ ]:
# correct mail = "jaweria@gmail.com"
# correct password = "1234"
mail = input("Enter email")
pas = input("Enter password")
if mail == "jaweria@gmail.com" and pas = "1234":
    print("welcome")
else:
    print("incorrect credentials")

In [ ]:
# if user give one credential true and one is wrong then give him another chance
# one more branch

In [ ]:
mail = input("Enter email")
pas = input("Enter password")
if mail == "jaweria@gmail.com" and pas ==  "1234":
    print("welcome")
elif mail == "jaweria@gmail.com" and pas != "1234":
    print("Password incorrect")
    pas = input("Renter password")
    # nested if else , you can do branches under the elif
    if pas == "1234":
        print("Finally Correct")
    else:
        print("Still incorrect")
else:
    print("incorrect credentials")

#### **Program Example:**
find the min/max of 3 given numbers.

In [ ]:
num1 = int(input("Enter num1 : "))
num2 = int(input("Enter num2 : "))
num3 = int(input("Enter num3 : "))

if num1<num2 and num1<num3 :
    print("num1 is smallest : ", num1)

elif num2<num3 :
    print("num2 is smallest : ", num2)

else:
    print("num3 is smallest :", num3)

#### **Menu driven calculator program**

In [ ]:
# There are different options fr the users.

In [ ]:
Fnum = int(input("Enter Ist number : "))
Snum = int(input("Enter Ist number : "))
 op = input("Enter the Operation : ")

if op == '+' :
    print(Fnum + Snum)

elif op == '-' :
    print(Fnum - Snum)

elif op == '*' :
    print(Fnum * Snum)

elif op == '/':
    print(Fnum * Snum)

elif op == '//'

else:
    print(Fnum% Snum)

###**menu driven ATM program**

In [ ]:
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

### **Write a menu-driven program**

**cm to ft**

**km to miles**

**USD to INR**

**exit**

In [ ]:
menu = input(""" How can i help you
1. cm to ft
2. km to miles
3. USD to INR
4. exit
 """)
if menu == '1':
  cm = float(input("Enter the cm value : "))
  print("feet value is ", 0.032 * cm)
elif menu == '2':
  km = float(input("Enter the value of km"))
  print("miles value is : ", 0.62*km)
elif menu == '3':
  usd = float(input("Enter the amount in usd :"))
  print(" the amount in INR is : ", 80 * usd)
else:
  print("Exit")

## **Loops**



```
In computer programming, a loop is a sequence of instruction s that is continually repeated
until a certain condition is reached.Loop is an entity by which we can repeat same thing/piece
of code.
In computer Programming, a Loop is used to execute a group of instructions or a block of code multiple times,
without writing it repeatedly. The block of code is executed based on a certain condition.
Loops are the control structures of a program.italicized text
```

In [ ]:
# in the real world, almost everything is cyclical, and therefore runs in a loop. The vibration of atoms, the rotation of the engine in your car (or the tires),
#  eating food one spoonful at a time,

In [ ]:
# Real life example is website shirt/mobile container contains image, discription.Each container has same structure but different
# information we make only one container inside one loop and fetch the data from database every time when loop is running and every
# time container will print

### **Types of for Loop**


```
1. for loop
2. while loop
3. Nested Loop
```


```
These loops are in php and java script  
>do while loop
>for eachloop
```


A "For" Loop is used to repeat a specific block of code a known number of times. For example, if we want to check the grade of every student in the class, we loop from 1 to that number. When the number of times is not known before hand, we use a "While" loop


```
 we can use for loop and while loop at once
 we can use if else statement with while and for loop
```

### **For Loop**

In [ ]:
# for loop in other languages like c , c++ and java
for(i=0, i<10, i++){
    code

In [ ]:
# for loop in python
# two things for understanding java
# 1. built in function range()
# first number including in range but last one is not including(excluded)
# In for loop you dont have to tell start value , end value and increment
range(1, 11)
# 1 to 10  numbers are generated
# to see which numbers are generated , convert it into a type of data type which we can see
list(range(1, 11))

In [ ]:
# there are 3 things in range function> range(start, stop[,step])
# if we put just one number we consider it as (stop)last number not the first , (start)first numbe will be zero
list(range(5))

In [ ]:
# step > increase or decrease the gap between numbers, default gap between numbers is one
list(range(1, 11,2))

In [ ]:
# backword counting
#a= list(range(10,1 -2))
a= list(range(9, 1, 2))
print(a)

In [ ]:
# sequence > order ....> output of something in order
# sequence for string
"jhang"
["Multan","lahore","APS"]
# list , tuples, sets and dictionaries are sequence

#### **for loop will iterate on sequence or on range functions**

In [ ]:
## Iteration of for loop for range function
for i in range(1, 11):
    print(i)

#for in range(1,11, 2)

In [ ]:
for i in range(10, 1, -2):
    print(i)

In [ ]:
for i in range(5,0, -1):
    print(i)

In [ ]:
## for loop for sequence/character
for i in "Jhang":
    print(i)

# we give iterable object to the for loop and for loop will iterate on it, when string or sequence and range will end , iteration of loop will end/ terminate,
# there will be no need to give termiation and increment

In [ ]:
# sequence eg..> list
for i in [1,2,3,4,5]:
    print(i)

In [ ]:
# for tuples
for i in (1, 2, 3,4):
    print(i)

In [ ]:
# for sets
for i in {1,2,3,4}:
    print(i)

**Example Program: 1**

In [ ]:
# Program - The current population of a town is 10000. The population of the town is increasing at the rate of 10% per year.
# You have to write a program to find out the population at the end of each of the last 10 years.

In [ ]:
cp = 10000
# find population
r = 10
i = 2030
for i in range(2030, 2020,-1):
    print(i, cp)
# in previous 10 year population will decrease
    cp = cp - 0.1 * cp

# formula
# 10 year = P(1+r/100)
# 10 year = P(1+10/100)
# print(10 year)

# 10 % of 9000 population is 999

In [ ]:
#Right code
curr_pop = 10000

for i in range(10,0,-1):
  print(i,curr_pop)
  curr_pop = curr_pop/1.1

#### **While Loop/Iteration Block Code**

In [ ]:
# syntax in c and java languages
 while(condition){
       code
}

In [ ]:
# suntax in python
while condition:
    code

### **Example Programs**

In [ ]:
# write a program about asking from user that which number of table he want to print?

In [ ]:
# we convert user input (which is string) into integer bcz we have to apply mathematical operation
num = int(input("Enter a number"))
i = 1
while i<11:
    print(num * i)
    #print(number,"*",i, "=", num * i)
    #i+=1
    i = i +1

**Implimentation of if else and loop**

In [ ]:
# we can use if and else with loops
# Write a program/game code in which program select the random number from 1 to 100 which will be the jackpot number. user have to
# guess that number. Program ask to the user guess that number?
# for example jackpot number is 50, then user have to guess that number. You ask to usser guess that number? if user select 25 then
# a notification occurs that it is wrong guess higher ? if user select 60 then program will said it is wrong, guess lower. Then user
# select 50 then program will say it is correct.
#

In [ ]:
# x= 2
x = int(input ("Enter the number : "))
while x < 8:
    print(x)
    x += 1
    # x = x + 1
    # x = 2 + 1
else:
    print("limit cross")

# when loop will break , you can use the else statement.

In [ ]:
#
i = 100
num = int(input(i<100))
if i > 100:
    print("number is wrong")

else:
    print("number is correct")

In [ ]:
# import keyword is ussed for importing module , inother languages we use #include instead
# randint() function return random integer in range[a,b], including both end points
import random
jackpot = random.randint(1, 100)
guess = int(input("Guess a number"))
counter = 1
while guess != jackpot:
    if guess < jackpot:
        print("Guess higher")
    else:
        print("Guess lower")
    guess = int(input("Guess a number"))
    counter +=1
print("Good, right guess")
print("You took", counter, "attempt")

In [ ]:
import random
gamenum = random.randint(1, 200)
num = int(input("Enter a random number"))
counter = 1
while num != gamenum:
    if num < gamenum:
        print("enter higher number")
    else:
        print("enter less number")
    gamenum = int(input("Enter a higher"))
    counter += 1
print("Right")
print("number of count", counter)

In [ ]:
#
import random
jackpot = random.randint(1, 10)
user = int(input("Enter a number : "))
# while loop run untill the jackpot number is equal to user guess
while jackpot != user:

    if jackpot<user:
        print("num is less")
    user = int(input("Enter higher number"))

    elif jackpot > user:
        print("num is greater ")
    user = int(input("Enter less number"))
# outside loop
else:
    print("correct ")

### **Nested loop**


```
Loop inside the loop is called nested loop

**example**
if you want to display the categories products. you will run loop first for category and then run nested loop for printing
products inside the loop
```

In [ ]:
# if you want to know every child name inside the 5 class,you will go for every class and then know name of children
# if you want to print 1 value and inside it you want to print many repeated values
# make the pair of numbers
for i in range (1,8):
    for j in range(1,6):
        print(i,j)

In [ ]:
# Pattern 3
1
121
12321
1234321

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
    print(rows)

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,4):
    print(rows, j)

In [ ]:
#
num = int(input("Enter a number : "))
for i in range (1,num +1):
    for j in range(1, num +1):
        print(i,j)

In [ ]:
# j loop will execute untill its range will complete. and then go to the next i value
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(i, j)

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(rows)

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j, end = '')
  print()

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(j,i+1):
    print(j, end = '')
  print()

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
      # To reduce the loop and start the k loop at the end of j loop, after i+1,we start k loop from i-1,
    # 0 is not included, so it will stop at 1
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

**Example Nested Loop:**

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
    print("*")

In [ ]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*')
  print()

In [ ]:
# when we use end = ''
# line is changing due to  end = '/n'
rows = int(input('enter number of rows'))
# at first due ti 1 value of i , inside loop will move only once
# for 2 value of i , inside loop will move two times
for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*', end = '')
      #  because we remove /n, due to which although row is changing but line is not , we remove /n
    #changing
  print()
# out side the loop,  we will not print anything we just use the print function to change the line

### **Loop Controll statements**
#### **Break statements**

break looop at specific condition. it is useful at linear searching

In [ ]:
# Break example
# searching in databse is an example of break statement.if you searrch  for a man name and his name is at 58 number/line. aftre this
# your loop execution will terminate

In [ ]:
for i in range (1,10):
    if i == 5:
        break
    print(i)

In [ ]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

#### **Continue Statement**

In [ ]:
# To skip the particular iteration
# Example in real life
#  In ecommerce website we have to skip those products which are out of stock.
# WE dont want to print those products which are out of stock.
# If one product is out of stock , we will not print that product and continue for next,
# 2 . Students absent in class.

In [ ]:
# continue at specific condition
for i in range(1,10):
    if i == 5:
        continue
    print(i)

#### **Pass Statements**

In [ ]:
# rest code for future
# pass is saying please dont throw an error.
for i in range(1,10):
    pass